/* Общие стили для всех страниц */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2 {
    color: #4A2C2A; /* Темно-коричневый цвет для заголовков */
}

/* Стили для страницы авторизации и студента */
body.login-body, body.student-body {
    background-color: #F5E8E4; /* Светло-бежевый фон */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-card {
    background-color: #F3E0D9; /* Светло-розовый фон карточки */
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 30px; /* Увеличенные отступы */
    width: 100%;
    max-width: 700px; /* Увеличенная максимальная ширина */
    text-align: center;
}

.progress-info {
    background-color: #F3E0D9;
    border: none;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
    text-align: center;
}

.section-info {
    flex-grow: 1;
}

/* Позиционирование кнопки */
.section-actions {
    display: flex;
    align-items: center;
}

.form-control {
    border-radius: 6px;
    background-color: #fffdfc;
    border: 1px solid #e3e3e3;
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
}

/* Стиль кнопки с фиксированной шириной */
.btn-primary, .btn-status {
    background-color: #B2917B; /* Светло-коричневый цвет кнопки */
    border-color: #B2917B;
    color: #ffffff;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 16px;
    width: 150px; /* Фиксированная ширина кнопки */
    text-align: center;
}

.btn-primary:hover, .btn-status:hover {
    background-color: #8A6B5C; /* Приглушённый коричневый при наведении */
    border-color: #8A6B5C;
}

.text-danger, .text-success {
    margin-top: 15px;
    text-align: center;
    display: block;
}

.list-group-item {
    background-color: #fffdfc;
    border: 1px solid #ddd;
    padding: 20px; /* Увеличенные отступы */
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
