<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Page</title>
</head>
<body>
<h1>Admin Panel</h1>

<h2>Добавить нового пользователя</h2>
<form action="/admin/addUser" method="post">
    <label for="username">Имя пользователя:</label>
    <input type="text" id="username" name="username" required><br>

    <label for="password">Пароль:</label>
    <input type="password" id="password" name="password" required><br>

    <label for="role">Роль:</label>
    <select id="role" name="role">
        <option value="STUDENT">STUDENT</option>
        <option value="ADMIN">ADMIN</option>
    </select><br>

    <input type="submit" value="Добавить пользователя">
</form>

<h2>Список пользователей</h2>
<ul>
    <li th:each="user : ${users}">
        <span th:text="${user.username}">Username</span> - <span th:text="${user.role}">Role</span>
    </li>
</ul>

<!-- Кнопка выхода -->
<form action="/logout" method="post">
    <!-- CSRF-токен для защиты -->
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <input type="submit" value="Выйти">
</form>

</body>
</html>
