<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Section</title>
</head>
<body>
<h1>Редактировать раздел</h1>
<form action="#" th:action="@{'/admin/sections/edit/' + ${section.id}}" method="post">
    <label for="sectionTitle">Название раздела:</label>
    <input type="text" id="sectionTitle" name="title" th:value="${section.title}" required><br>

    <label for="sectionDescription">Описание раздела:</label>
    <textarea id="sectionDescription" name="description" required th:text="${section.description}"></textarea><br>

    <!-- CSRF токен -->
    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>

    <input type="submit" value="Сохранить изменения">
</form>

<!-- Кнопка выхода -->
<form action="/logout" method="post" th:action="@{/logout}">
    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
    <input type="submit" value="Выйти">
</form>
</body>
</html>
